.filter-wr {
  width: 100%;
  max-height: 55px;
  padding: 5px 20px 0 20px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  background-color: #FFF;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.25);
}

.table-wr {
  margin: 20px;

  table {
    width: 100%;

    .mat-header-row {
      height: 40px;
    }

    th {
      background-color: #7986CB;
      font-size: 14px;
      color: white;
    }

    tr.h-detail-row {
      height: 0;
    }

    tr.h-element-row:not(.h-expanded-row):hover {
      background: #777;
    }

    tr.h-element-row:not(.h-expanded-row):active {
      background: #efefef;
    }
  }



  .h-element-row td {
    border-bottom-width: 0;
  }

  .h-element-detail {
    overflow: hidden;
    display: flex;
  }

  .h-element-diagram {
    min-width: 80px;
    border: 2px solid black;
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
    height: 104px;
  }

  .h-element-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
  }

  .h-element-description {
    padding: 16px;
  }

  .h-element-description-attribution {
    opacity: 0.5;
  }
}
